body {
    padding: 80px 80px 80px 80px;
    background-image: url('./media/background.jpg');
    background-size: cover;
    color: white;
    font-family:'Open Sans', sans-serif;
}

img.resize {
  max-width:100%;
  /*max-height:700px;*/
}

.book_cover:hover {
    background-color: black;
}

.title {
    font-family: "Lucida Console";
}

.pdfobject-container { height: 1200px;}
.pdfobject { border: 1px solid #666; }


.book_thumbnail img{
    height: 100px;
    width: auto;
    padding-left: 10px;
    padding-right:10px;
    padding-bottom: 10px;
}
#message_selected_page {
    color: lightblue;
}

#choose_manifest_or_pdf {
    float:right;
    padding-right:20px;
    color: lightblue;
    cursor: pointer;
    font-weight: bold;
}
#notes_manifest {
    border:1px solid grey;
    padding:10px
}
.manifest_ul li a{
    color: lightblue;
    cursor: pointer;
}
.manifest_chapter_header {
    cursor: pointer;
}

a.manifest_chapter_header {
    color: lightblue;
}

.p_year {
    color: silver;
    font-style: italic;
}

.badge {
    cursor: pointer;
    background-color: gray;
}
.badge.active {
    cursor: pointer;
    background-color: lightblue;
    color: #484646;
}

